body {
    background-color: rgb(138,150,136);
    color:rgb(1,22,39);
    margin:0;
    opacity: 0; /* Start invisible */
    animation: fadeIn 1s ease-in forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
nav {
    width: 100%;
    height: 70px;
    background-color: rgb(1,22,39);
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.navbar button {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px;
    font-size: 25px;
    color: white;
    background-color: rgb(1,22,39);
    border:none;
    border-right: 2px solid white;
    border-left: 2px solid white;
    
    cursor: pointer;  
}
.navbar button:hover{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: rgb(1,22,39);
    color: white;
    padding: 5px 15px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    margin-top: 1%;
    display: none;
    position: absolute;
    background-color: rgb(1,22,39);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #fff2;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Optional: Style dropdown links on hover */
.dropdown-content a:hover {
    background-color: #163047;
}


.homebutton {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    height: 50px;
    width: auto;
}


.intro {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position:relative;
}

h1 {
    font-size: 120px;
}

h3 {
    font-size: 60px;
}
.above {
    display: flex;
    justify-content: space-between;
    width:100%;
}
.introtext {
    background-color: rgb(217,188,175);
    text-align: center;
    padding-top: 4%;
    width:50%;
    height:600px;
}


.icons img {
    border-radius: 100px;
    border-color: rgb(1,22,39);
    border-width: 2px;
    border-style: solid;                                                            
    height:180px;
    cursor: pointer;
    
    width: auto;
}

.icons img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
    
}
.icons {
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    width: 390px;
    height: 390px;
    justify-items: center;
    align-items: center;
    gap: 1%;
    margin: 1% auto;
    padding: 7%;
}
/* ...existing code... */
.icons.diamond .top    { grid-column: 2; grid-row: 1; }
.icons.diamond .left   { grid-column: 1; grid-row: 2; }
.icons.diamond .right  { grid-column: 3; grid-row: 2; }
.icons.diamond .bottom { grid-column: 2; grid-row: 3; }
/* ...existing code... */


.arrow {
    background-color: rgba(240, 248, 255, 0.666);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: -50px;
    margin-left: 48.5%;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
  from {
    transform: translate(0, 0px);
  } 50% {
    transform: translate(0, -15px);
  } to {
    transform: translate(0, 0px);
  }
}

.aboutmesection {
    background-color: rgb(1,22,39);
    color: white;
    padding: 20px;
}

.aboutmesection h2 {
    text-align: center;
    font-size: 63px;
}

.leadingtext {
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: left;
    width: 100%;
}
.lefttext {
    font-size: 35px;
    text-align: left;
    width: 60%;
}
.aboutmecontainer {
    display: flex;
    align-items: flex-start;
    gap:40px;
}
.aboutme {
    display: grid;
    margin-top: 3%;
    grid-template-columns: repeat(3,200px);
    grid-auto-rows: 150px;
    gap: 8px;
}

.aboutme img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: solid 2px rgb(217,188,175);
}

.contactbody {
    background-color: rgb(1,22,39);
    background-image: url('contactbackground.png');
}

.connectwithme {
    font-size: 95px;
    margin-left:3%;
    color: rgb(1,22,39);
    margin-top: -8%;
}

.contactbackground{
    max-width: 100%;
    position:fixed;
    top: 9%;
}
.topsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profilepicture {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: solid 2px rgb(1,22,39);
    margin-top: 20px;
    margin-left: -12%;
}
.phonenumber{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: right;
    gap: 20px;
    margin-left: -2%;
}
.callicon {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: solid 2px rgb(1,22,39);
    margin-top: 20px;
}
.emailicon {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: solid 2px rgb(1,22,39);
    margin-top: 20px;
}
.instagramicon {
    width: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px rgb(1,22,39);
    margin-top: 20px;
}
.contactinfo {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.actualinfo {
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(1,22,39);
    font-size: 25px;
    min-width: 300px;
    white-space: nowrap;
    margin-left:-1%;
}
.phonenumber{
    padding-top: 3%;
}
.email {
    margin-top:-12%;
}
.allcontact {
    margin-top: 2%;
}
.contactdetails {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}
.contact {
    color: white;
    font-size: 40px;
    text-align: left;
    margin-top: -10%;
    margin-left: 31.5%;
}
.contactformrow {
    display: flex;
    flex-direction: row;
    gap: 24px; /* space between left and right */
    justify-content: left;
    margin-left:15%;
    margin-top: -3%;
    align-items: flex-start;
}
.contactformleft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2.5%;
}
.contactformleft input{
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.contactformright {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    margin-top: 2%;
}
.contactformright textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
#submit  {
    background-color: rgb(1,22,39);
    color: white;
    font-size: 25px;
    border: 2px solid white;
    cursor: pointer;
    margin-left: 33%;
    margin-top: 1%;
    padding: 10px 20px;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.7;
  }
  25% {
    transform: translate(40px, -60px) scale(1.1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-60px, 40px) scale(1.2);
    opacity: 0.6;
  }
  75% {
    transform: translate(30px, 60px) scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.7;
  }
}
.ball {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}
.ball span {
    background: rgba(1, 22, 39, 0.655);
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    backface-visibility: hidden;
    filter: blur(10px);
    animation: move 12s linear infinite;
}
.ball span:nth-child(1) { left: 10vw; top: 20vh; animation-duration: 14s; }
.ball span:nth-child(2) { left: 70vw; top: 10vh; animation-duration: 18s; }
.ball span:nth-child(3) { left: 50vw; top: 60vh; animation-duration: 16s; }
.ball span:nth-child(4) { left: 80vw; top: 80vh; animation-duration: 20s; }
.ball span:nth-child(5) { left: 20vw; top: 70vh; animation-duration: 22s; }
.ball span:nth-child(6) { left: 40vw; top: 30vh; animation-duration: 19s; }
.ball span:nth-child(7) { left: 60vw; top: 50vh; animation-duration: 17s; }
.threesections {
    display:flex;
    justify-content: space-between;
    margin-top: 1%;
    gap: 5%;
}
.threesections p {
    font-size: 25px;
    margin-top: -2%;
}
.education, .skills, .aspirations {
    background-color: rgba(1, 22, 39, 0.796);
    border-radius: 10%;
    cursor: pointer;
    text-align: center;       
    padding: 5px 5px;

}
.threesections h2 {
    color: white;
}
.aboutmetitle {
    text-align: center;
    font-size: 70px;
}
.educationtitle {
    text-align: center;
    font-size: 40px;
}
.education {
    color: white;
    margin-left: 3%;
    cursor: pointer;
}
.educationpicture {
    display: none;
    border-radius: 5%;
}

.skills {
    width: 110%;
    color: white;
    cursor: pointer;
}
.skillspicture {
    display: none;
    border-radius: 5%;
}
.skillstitle {
    text-align: center;
    font-size: 40px;
}
.skillslist{
    font-size: 25px;
    text-align:left;
    margin-top: -2%;
    color: white;
}
.aspirations{
    color: white;
    margin-right: 3%;
}
.aspirationstitle {
    
    font-size: 40px;
}
.skills, .education, .aspirations{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5%;
}

.aspirationspicture {
    display: none;
    border-radius: 5%;
}

.projects {
    background-color: rgb(1,22,39);
    overflow: hidden;
}
.projecttitle {
    margin-top: 0;
    color: rgb(1,22,39);
    background-color: rgb(217,188,175);
    font-size: 80px;
    font-weight: bold;
    height: 190px;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
}
.project {
    background-color: rgb(138,150,136);
    height: 700px;
    margin-top: -5%;

}
.favprojects{  
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -1%;
}
.favprojects img {
    margin-top: 2%;
    height: 150px;
    width: 250px;
    border: 2px solid white;
    object-fit: cover;
}

.favprojects p{
    color: rgb(1,22,39);
    font-size: 25px;
    text-align: center;
}
.ptitle {
    color: rgb(1,22,39);
    font-size: 50px;
    padding-top:20px;
    text-align: center;
}
.githublink {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.githublink p {
    color: rgb(1,22,39);
    font-size: 25px;
    margin-top: .90%;
    text-align: center;
}
.githublink img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-size: 50px;
    cursor: pointer;
}
.projectcontent{
    display: flex;
}
.leftsideprojects {
    width: 75%;
}
.rightsideprojects {
    border-top: 2px solid white;
    width: 25%;
    text-align: center;
}
.comforttitle {
    color: white;
    font-size: 35px;
    margin-top: 3%;
}
.rightsideprojects img{
    width: auto;
    height: 50px;
}
#progressbar {
  background-color: rgb(1,22,39);
  width: 90%;
  border: 2px solid white;
  border-radius: 13px;
  padding: 3px;
  margin: 10px 10px;
  margin-left: 3%;
}

#progressbar>div {
  background-color: white;
  height: 20px;
  border-radius: 10px;
}
.htmlbar {
    width: 90%;
}
.cssbar {
    width: 70%;
}
.jsbar {
    width: 50%;
}

.cbar {
    width: 80%;
}
.javabar {
    width: 75%;
}
.creditsbody {
    background-color: rgb(217,188,175);
    color: white;
    text-align: center;
    overflow: hidden;
}
.topimages {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 1%;
    margin-left: -5%;
}
.topimages img {
    height: 200px;
}
.uepic {
    object-fit: cover;
    width: 400px;
}
.jackpic {
    width: 350px;
    object-fit: cover;
}
.creditcontent {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -1.5%;
}
.creditcontent div {
    background-color: rgba(1, 22, 39, 0.856);
    border-radius: 20%;
    margin: 2% 2%;
}
.me {
    margin-left: 1%;
    font-size: 60px;
    color: rgb(1,22,39);
}
.creditcontent h1 {
    font-size: 40px;
    margin-bottom: -1%;
}
.creditcontent p {
    font-size: 25px;
    margin: 2%;
}
.rightcredit {
    width: 60%;
}
.creditsthanks {
    text-align: left;
    padding-left: 15px;
    line-height: 1.5;
}